html, body, #result, .main, .map-container, #map {
    height: 100%;
}

html, body, #result {
    padding-bottom: 60px;
}

.page-header {
    margin: 20px 0 20px;
}

.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
    height: 100%;
}

.attr-container {
    overflow: auto;
    height: 100%;
}

#map {
    width: 100%
}

#get-area {
    width: 150px;
}

#epsilon-input {
    width: 100px;
}

.result-block {
    padding-bottom: 15px;
}

/*#coord-select {*/
/*margin: 10px;*/
/*}*/

/*.coord-options {*/
/*margin-right: 5px;*/
/*}*/

#coord-options {
    margin: 10px;
}

#coord-options label {
    font-weight: 500;
    margin-left: 3px;
    margin-right: 10px;
}

.coord-select-btn {
    margin-right: 5px;
}

.list-group-item {
    padding: 5px 10px;
}

.coords-list-item {
    background-color: #DFF1F1;
    cursor: pointer;
}

.coords-list-item:hover {
    background-color: #aadada;
}

.coords-list-item.hole {
    background-color: #e4cfe0;
}

.coords-list-item.hole:hover {
    background-color: #decfe4;
}

.gdz-list {
    font-size: 0.8em;
    font-style: italic;
    /*font-weight: 100;*/
}

.gzn-list-item {
    margin-right: 10px;
}

.div-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #2f4f50;
    color: #2f4f50;
    text-align: center;
    vertical-align: middle;
}

.div-ico-new {
    color: forestgreen;
    border-color: forestgreen;
}

.div-icon.hole {
    color: #744b73;
    border-color: #744b73;
}

.ico-label {
    color: #2f4f50;
    font-style: italic;
    font-weight: bold;
}

.ico-label.hole {
    color: #744b73;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.octicon-mark-github {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    font-size: 24px;
    color: #ccc;
}

.not-coordinates-warning {
    margin-top: 7px;
}

.link {
    padding-right: 15px;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 5px;
}

.main-btn .glyphicon {
    line-height: 20px;
}


/*TYPE SELECT DROPDOWN*/

#area-types-options {
    z-index: 10000;
}

.type-selected {
    padding-right: 3px;
}

@media (max-width: 992px) {
    #area-code-input, #get-area {
        height: 35px;
        font-size: 16pt;
    }

    .main-btn .glyphicon {
        line-height: 21px;
    }

    #get-area {
        line-height: 16pt;
    }

    .container {
        max-width: none;
    }

    .map-container, .attr-container {
        height: 50%;
    }
}